:root {
  --light-grey: #eee;
  --dark: #2b2b2b;
  --dark-light: #878787;
  --red: #eb3856;
  --red-transparent: rgba(235, 56, 86, 0.5);
  --blue: #5537eb;
  --blue-transparent: rgba(85, 55, 235, 0.5);
  --white-transparent: rgba(255, 255, 255, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: rgba(0, 0, 0, 0.83);
  background-blend-mode: darken;
  background-image: url("https://i.pinimg.com/originals/f8/f2/13/f8f213e5ad9922936b3d1b724dc81e1f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  color: var(--blue);
  text-decoration: none;
  opacity: 0.6;
  font-weight: 600;
}

a:hover {
  opacity: 1;
}

button,
input,
select {
  background: none;
  border: none;
  font-size: 1rem;
  outline: none;
  color: var(--dark);
  position: relative;
  border-radius: 3px;
}

select {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button:hover,
select:hover {
  cursor: pointer;
}

hr {
  /* margin: 2.65em 0; */
  width: 50%;
  margin: 1.5em auto;
  opacity: 0.5;
  border-color: var(--red);
}

em {
  color: var(--light-grey);
}

.visuallyhidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}

/* ----- Layout ----- */

.page-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 3.5em);
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

/* ----- Top Header ----- */

.top-header {
  /* position: sticky; */
  /* top: 0; */
  position: relative;
  height: 3.5em;
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  background: var(--red);
}

.top-header__back-btn {
  font-size: 2em;
  color: var(--light-grey);
  align-self: center;
  z-index: 1;
}

.top-header__heading--center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: var(--light-grey);
}

/* ----- Footer Navigation ----- */

.footer-navigation {
  height: 3.5em;
}

.footer-navigation__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: inherit;
  padding: 0 5vw;
  display: flex;
  background: var(--red);
}

.footer-navigation__list {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-around;
  margin: 0 auto;
  align-self: center;
}

.footer-navigation__list-item {
  font-weight: bold;
}

.footer-navigation__link {
  color: white;
  opacity: 0.8;
}

.footer-navigation__link:hover {
  opacity: 1;
}

.footer-navigation__link {
  /* color: white; */
}

/* ----- Register / Login ----- */

.user-form {
  padding: 20vh 0 10vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-form em {
  margin-bottom: 1em;
}

.user-form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
}

.user-form__field {
  width: 100%;
  margin-bottom: 1em;
  background: var(--light-grey);
  padding: 1.75em 1em 1em;
  position: relative;
  border-radius: 5px;
}

.user-form__field--half {
  width: calc((100% - 1em) / 2);
}

.user-form__field .user-form__field-label {
  position: absolute;
  top: 0.75em;
  left: 1.25em;
  font-size: 0.75em;
  font-weight: 700;
  color: var(--red);
}
.user-form__field-input {
  font-size: 1.5em;
  width: 100%;
}

.user-form__submit {
  background: var(--red);
  width: 100%;
  /* font-weight: 900; */
  padding: 0.75em 1em;
  color: var(--white-transparent);
  letter-spacing: 0.12em;
}

.user-form__submit:hover {
  color: white;
}

.user-form__footer {
  color: var(--light-grey);
  width: 100%;
  text-align: right;
  max-width: 450px;
  margin-top: 1.5em;
}

/* ----- User cards ----- */

.user-cards {
  width: 100%;
  padding: 20vh 0 10vh;
}

.user-cards__list-item {
  margin-bottom: 15vh;
}

.user-cards__list-item:nth-child(even) .user-card {
  float: right;
  flex-direction: row-reverse;
}
.user-cards__list-item:nth-child(even) .user-card__form {
  margin-left: 0;
  margin-right: 2em;
}

.user-card {
  display: flex;
  position: relative;
  max-height: 350px;
  max-width: 400px;
  width: 100vw;
  height: 100vh;
}
.user-card__image-container {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
.user-card__image {
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user-card__footer {
  width: 100%;
  position: absolute;
  background: var(--light-grey);
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding: 0.75em 1em;
  align-items: center;
  justify-content: space-between;
}

.user-card__name {
  font-size: 1.5em;
  color: var(--red);
}
.user-card__age {
  font-size: 1.25em;
  color: var(--dark-light);
}

.user-card__form {
  height: 100%;
  margin-left: 2em;
  display: flex;
  align-items: center;
}

.user-card__button {
  font-size: 2.25em;
  padding: 0.35em;
  line-height: 0;
  vertical-align: middle;
  border-radius: 100px;
  color: var(--white-transparent);
}

.user-card__button--like {
  background: var(--red);
}

.user-card__button--chat {
  background: var(--blue);
}

.user-card__button:hover {
  color: var(--light-grey);
}

/* ----- Chat Messages ----- */

.chat-messages {
  background: white;
  height: calc(100vh - 7em);
  padding: 0 5vw;
  display: flex;
  justify-content: center;
}

.chat-messages__container {
  max-width: 800px;
  padding: 5vh 0;
  overflow-y: scroll;
  width: 100%;
}

.chat-messages__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .message {
  max-width: 550px;
  min-width: 330px;
} */
.message__image-container {
  width: 100%;
  max-width: 400px;
  min-width: 270px;
  padding: 1em;
}
.message__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 8px;
}

.message {
  /* border-radius: 8px; */
}

.message--left {
  align-self: flex-start;
  background: var(--red);
  color: white;
  border-radius: 0px 8px 8px 8px;
}
.message--right {
  align-self: flex-end;
  background: var(--blue);
  color: white;
  border-radius: 8px 0px 8px 8px;
}

.message--left + .message--left,
.message--right + .message--right {
  margin-top: 0.5em;
}

.message--left + .message--right,
.message--right + .message--left {
  margin-top: 2.5em;
}

.message__text {
  padding: 0.5em 2em 0.5em 1em;
}

/* ----- Chat Footer ----- */

.chat-footer {
  height: 3.5em;
}

.chat-footer__container {
  position: fixed;
  background: var(--blue);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-footer__wrapper {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
}

.chat-footer__giphy-overview-link {
  height: 100%;
  padding: 0.5em;
  border: solid 2px var(--white-transparent);
  border-radius: 3px;
  color: var(--white-transparent);
}

.chat-footer__form {
  display: flex;
  flex-grow: 1;
  margin-left: 1em;
}

.chat-footer__form-input {
  background: white;
  padding: 0 0.75em;
  width: 100%;
  margin-right: 1em;
}

.chat-footer__form-submit {
  color: var(--white-transparent);
  font-size: 2em;
}

.chat-footer__form-submit:hover {
  color: white;
}

/* ----- Giphy Page ----- */

.giphy-search-header {
  position: sticky;
  z-index: 1;
  top: 0;
  height: 3.5em;
  background: var(--blue);
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
.giphy-search-form {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.giphy-search-form__input {
  background: white;
  width: 100%;
  padding: 0 0.75em;
  margin-right: 1em;
}

.giphy-search-form__submit {
  font-size: 2em;
  color: var(--white-transparent);
}

.giphy-search-form__submit:hover {
  color: white;
}

.giphy-grid {
  display: flex;
  flex-wrap: wrap;
}
.giphy-grid__item {
  position: relative;
  flex-grow: 1;
  /* max-height: 250px; */
  min-width: 300px;
}

.giphy-grid__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.giphy-grid__item-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.giphy-radio-select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.giphy-radio-select:checked + .giphy-grid__item-overlay {
  background: rgba(0, 0, 0, 0.75);
  color: var(--white-transparent);
}

.giphy-submit {
  position: absolute;
  font-size: 2em;
  bottom: 1em;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  background: var(--red);
  color: var(--light-grey);
  padding: 0.25em 0.5em;
}

.giphy-radio-select:checked ~ .giphy-submit {
  display: block;
}
