:root {
  --color-dark: #1f201f;
  --light-grey: #f8f9fa;
  --grey-border: 1px solid #dee2e6;
  --dark-text: #424242;
  --light-grey-2: #495057
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: system-ui;
}

textarea {
  display: block;
  resize: none;
  font-size: 1rem;
  width: calc(100% - 2em);
  height: 100%;
  color: var(--color-dark);
  border: none;
  margin: 0 auto;
  padding-top: 1em;
  letter-spacing: .05em;
}


.page-width {
  max-width: 53rem;
  padding: 40px;
}

.page-container {
  display: flex;
  flex-direction: column;

}

.editor-options {
  display: flex;
  flex-wrap: wrap;
  /* background: var(--light-grey); */
  /* background: var(--color-dark) */
  border: var(--grey-border);
  border-top: none;
  border-bottom: none;
  padding: 1em 1em 0;
}

.options {
  display: flex;
}

.options:not(:last-of-type) {
  margin-right: .5em;
}

.editor-options button {
  padding: .5em 1em;
  margin-bottom: .5em;
  background: white;
  color: var(--light-grey);
  border: none;
  background: var(--light-grey-2);
  border-radius: 3px;
  font-weight: bold;
  transition: background .15s ease, color .15s ease;
}

.editor-options button:hover,
.tabs-container label:hover {
  cursor: pointer;
}

.editor-options button:hover {
  /* border: solid 1px var(--light-grey-2) */
  background: var(--light-grey);
  color: var(--light-grey-2);
}

.editor-options button:not(:last-of-type) {
  margin-right: .25em;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
  right: 100%;
}

.tabs-container {
  display: flex;
  width: 100%;
  border-radius: .5em .5em 0 0;
  /* transform: translateY(1px); */
  background: var(--light-grey);
  border: var(--grey-border);
}


[for="preview-tab"],
[for="editor-tab"] {
  padding: .5em 1em;
  color: var(--light-grey-2);
  position: relative;
}

[for="preview-tab"] {
  border-radius: .5em 0 0 0;
}

.editor-section {
  display: none;
  width: 100%;
  height: 200px;
  border: var(--grey-border);
  border-top: none;
  border-radius: 0 0 .5em .5em;
}

.editor-section textarea {
  border-top: var(--grey-border);
}
#preview-tab:checked ~ .page-container .editor-options {
  display: none;
}
#preview-tab:checked ~ .page-container ~ .editor-section.preview {
  display: block;
}

#editor-tab:checked ~ .page-container ~ .editor-section.editor {
  display: block;
}

#editor-tab:checked ~ .page-container header [for="editor-tab"],
#preview-tab:checked ~ .page-container header [for="preview-tab"] {
  background: white;
  color: var(--color-dark);
  opacity: 1;
}
#preview-tab:checked ~ .page-container header [for="preview-tab"] {
  border-right: var(--grey-border);
}
#editor-tab:checked ~ .page-container header [for="editor-tab"] {
  border-right: var(--grey-border);
  border-left: var(--grey-border);
}

#editor-tab:checked ~ .page-container header [for="editor-tab"]::after,
#preview-tab:checked ~ .page-container header [for="preview-tab"]::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: white;
}


.editor-section.preview {
  color: #24292e;
  /* padding: 0 5%; */
  height: auto;
  padding: 2em 5%;
}

.editor-section.preview ul {
  padding-left: 2em;
}

.editor-section.preview a {
  color: #0366d6;
  text-decoration: none;
}

.editor-section.preview hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.editor-section.preview h1,
.editor-section.preview h2,
.editor-section.preview h3,
.editor-section.preview h4,
.editor-section.preview h5,
.editor-section.preview h6 {
  margin-bottom: 16px;
  margin-top: 24px;
}

.editor-section.preview h1 {
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;

}

.editor-section.preview h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}
.editor-section.preview h3 {
  font-size: 1.25em;
}
.editor-section.preview h4 {
  font-size: 1em;
}

.editor-section.preview h5 {
  font-size: .875em;
}

.editor-section.preview h6 {
  font-size: .85em;
  color: #6a737d;
  margin-top: 24px;
  margin-bottom: 1rem;
}

.editor-section.preview strong {
  font-weight: 600;
}

.code-block {
  padding: 1em;
  background: #f6f8fa;
  border-radius: 3px;
}
.code-inline {
  display: inline-block;
  padding: .2em .4em;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}


.sub-list {
  list-style-type: none;
}

.editor-section.preview img {
  width: 100%;
  height: 100%;
}
.editor-section.preview blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
